html {
  overflow: hidden;
}
.all {
  width: 100vw;
  height: 100vh;
  background-color: #000
}

.titlef {
  color: #fff;
  font-size: 3.5em;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 20%;
  top: 43%;

}

.proff {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  position: absolute;
  left: 25%;
  top: 51%;
}


.vamos {
  background-color: #fff;
  padding: 5px;
  border-radius: 3px;
  color: #000;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 60%;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #FFF;
}

#canvas-wrap {
  position: relative;
  background: #222;
  height: 100vh;
  width: 100vw;
}

#canvas {
  opacity: 0.8;
  height: 100vh;
  width: 100vw;
}
#canvas {
  height: 100vh;
}

.button {
  color: rgb(255, 255, 255);
  font-size: 32px;
  padding: 23px;
  text-shadow: 3px 0px 0px rgba(30, 30, 30, 1);
  -webkit-border-radius: 10.54054054054054px;
  -moz-border-radius: 10.54054054054054px;
  border-radius: 10.54054054054054px;
  background: rgb(210, 20, 20);
  background: -moz-linear-gradient(118deg, rgb(210, 20, 20) 33%, rgb(165, 20, 20) 45%);
  background: -webkit-linear-gradient(118deg, rgb(210, 20, 20) 33%, rgb(165, 20, 20) 45%);
  background: -o-linear-gradient(118deg, rgb(210, 20, 20) 33%, rgb(165, 20, 20) 45%);
  background: -ms-linear-gradient(118deg, rgb(210, 20, 20) 33%, rgb(165, 20, 20) 45%);
  background: linear-gradient(28deg, rgb(210, 20, 20) 33%, rgb(165, 20, 20) 45%);
  -webkit-box-shadow: 55px 17px 16px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 55px 17px 16px rgba(50, 50, 50, 0.43);
  box-shadow: 55px 17px 16px rgba(50, 50, 50, 0.43);

}
