html {
  background-color: #222;
  scroll-behavior: smooth
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
  box-sizing: border-box
}
.cert{
  max-width: 300px
}
.front {
  font-family: 'Press Start 2P', cursive;
  font-size: 13px
}

li a {
  display: inline-flex;
  text-align: center;
  margin: 5px auto;
  padding: 2px;
  color: #fff
}

.black {
  background-color: #000
}

div h2 {
  text-align: center;
  font-size: 32px
}

div h3 {
  float: right
}

.image {
  text-align: center
}

.image img {
  max-width: 100px;
  margin: auto
}

.worksImg {
  max-height: 200px
}

.works {
  box-shadow: 5px 5px 10px #8a1906
}

.hover:hover,
.works:hover {
  box-shadow: 10px 10px 20px #661204;
  transition: .3s
}

.p1 {
  text-shadow: 1px 1px rgba(255, 255, 255, .521)
}

.header {
  width: 100%;
  height: auto;
  background-color: #a74444;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-content: center;
  align-items: center
}

.me {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  justify-items: center;
  justify-content: center;
  align-items: center
}

.title {
  text-align: center;
  font-size: 30px
}

.title2 .border {
  border: 1px solid #fff
}

.cont>ul>li {
  display: inline;
  margin: 25px
}

.cont {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px
}

.red {
  max-width: 70px
}

.max300 {
  max-height: 300px
}

.pad {
  padding: 20px
}

.hob {
  position: relative;
  align-items: center;
  text-align: center;
  top: 50px
}

.hobbies {
  border: 1px solid;
  padding: 10px;
  background-color: #661204;
  color: #fff
}

.footer-second {
  border-top: 1px solid;
  margin: 0;
  background-color: #a5a5a5
}

.footer-second a,
.footer-second p {
  color: #fff;
  font-size: 100%;
  line-height: 155%
}

#logo_b {
  text-align: center;
  font-size: 25px
}

.header {
  background: #000
}

body {
  background: #fff
}

.zk {
  color: #fff
}

@media screen and (max-width:768px) {
  div>h3 {
    font-size: 13px
  }

  .me {
    grid-gap: 2rem 0;
    padding: 10px
  }

  .me {
    grid-gap: 2rem 0
  }

  .me>* {
    grid-column-end: span 12
  }

  .me {
    grid-gap: 2rem 0
  }
}